<script>
   $(document).ready(el => { 
    $('#contact-form').on('submit',e => {
      //optional validation code here

      e.preventDefault();
      
      $.ajax({
        url: "https://script.google.com/macros/s/AKfycbxQrhoHaaqN9MgS-2n8zvOR7M_lYRniwj0czm9ZfIYqLBDAB5lE0-3QxEvTh7PSZJvJ/exec",
        method: "POST",
        dataType: "json",
        data: $("#contact-form").serialize(),
        success: function(response) {
                
          if(response.result == "success") {
            $('#contact-form')[0].reset();
            alert('Thank you for contacting us.');
            return true;
          }
          else {
            alert("Something went wrong. Please try again.")
          }
        },
        error: function() {
          alert("Something went wrong. Please try again.")
        }
      })
    });
  });
</script>
<main class="app-body">
  <form id="contact-form">
    <h1>Contact Us</h1>
    <input class="contact-input" type="email" name="email" placeholder="Email" required>
    <br>
    <input class="contact-input" type="text" name="name" placeholder="Name" required>
    <br>
    <input class="contact-input" type="text" name="subject" placeholder="Subject" required>
    <br>
    <textarea class="contact-input" name="message" cols="30" rows="10" placeholder="Message"></textarea>
    <br>
    <button class="contact-button">Submit</button>
  </form>
</main>