<main class="app-body" id="archives">
    <h1 id="archive-title">Webinars</h1>
    <% let years = {}; %> <% site.posts.each(post => { if (post.title ===
    "Index") return; let event = false; post.tags.map(tag => { if (tag.name == "Webinar") event = true; });
    if (event == false) return;
    const y = post.date.year(); if (!years[y]) { years[y] = [];
    } years[y].push(post); }) %> <% for (let year of
    Object.keys(years).reverse()) { %> <%- partial('_partial/event', { year:
    year, posts: years[year] }) %> <% } %>
</main>

<script>
    (function () {
        var url = "<%= config.url %>/<%= page.path %>";
        $("#article-banner").geopattern(url);
        // $(".header").removeClass("fixed-header");
    })();
</script>
