.sidebar {
  padding: 4em 0em
  border-right: 1px solid color-border;
  min-width: 200px;
  width: 200px;
  transition: all 0.4s;
}

@media m-mobile {
  .sidebar {
    min-width: 100px;
    width: 100px;
  }
}

.sidebar-main {
  text-align: center;
}

.sidebar-link {
  display: block;
  color: color-white;
  background-color: color-primary;
  border: 1px solid color-primary;
  padding: 0.3em;
  border-radius: 10px;
  font-size: 1em;
  margin: 10px;
}

.sidebar-link:hover {
  color: color-primary;
  background-color: color-white;
  border: 1px solid color-primary;
}